<ion-header>
  <ion-toolbar>
    <ion-title>
      Flight-Radar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <yaga-map style="height: 100%;" [lat]="mapLat" [lng]="mapLng" [zoom]="mapZoom">
    <yaga-tile-layer [url]="tileLayerUrl" [attribution]="'© Openstreetmap and contributors'"></yaga-tile-layer>

    <yaga-attribution-control></yaga-attribution-control>
    <yaga-zoom-control></yaga-zoom-control>
    <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>

    <yaga-marker *ngIf="debug" [draggable]="true" [lat]="pickerLat" [lng]="pickerLng">
        <yaga-div-icon></yaga-div-icon>
    </yaga-marker>

  </yaga-map>

</ion-content>
